{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}
  Erreur {{ status_code }} - {{ parent() }}
{% endblock %}

{% block body %}

  <div class="container">
    
    <h1>Erreur {{ status_code }} - {{ status_text }}</h1>
    
    <div class="text-center">
      <p>Une erreur est survenue, nous sommes désolés pour la gêne occasionnée.</p>
    </div>
    
  </div>

{% endblock %}