{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block title %}
  Gestion des réseaux sociaux  - {{ parent() }}
{% endblock %}

{% block body %}

  <div class="container">
    <h1>Gestion des réseaux sociaux</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fa fa-dashboard" aria-hidden="true"></i></a></li>
      <li class="breadcrumb-item active">Gestion des réseaux sociaux</li>
    </ol>

    <hr>

    {{ include("PlateformeCoreBundle:ReseauxSociaux:form.html.twig") }}

  </div>


{% endblock %}
