{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block body %}

  <h2>Création d'une question pour la FAQ</h2>

  {{ include("PlateformeCoreBundle:FAQQuestion:form.html.twig") }}

{% endblock %}