{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block body %}

  <h2>Suppression d'une question</h2>

  <p>
    Etes-vous certain de vouloir supprimer la question "<i>{{ question.question }}</i>" ?
  </p>

  <form action="{{ path('plateforme_core_page_faq_question_delete', {'id': question.id}) }}" method="post">
    <a href="{{ path('plateforme_core_page_faq_question_edit', {'id': question.id}) }}" class="btn btn-default">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      Retour à l'édition
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}