{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block body %}

  <h1>Édition d'une question</h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fas fa-tachometer-alt"></i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_page_faq_edit') }}">FAQ</a></li>
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_page_faq_question_crud') }}">Questions</a></li>
    <li class="breadcrumb-item active">Édition</li>
  </ol>

  <hr>

  {{ include("PlateformeCoreBundle:FAQQuestion:form.html.twig") }}


{% endblock %}