<li class="nav-item">
  <a href="{{ path('plateforme_ecommerce_tunnel_panier') }}" class="btn btn-default">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    {{ nb_articles }}
  </a>
</li>