{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block body %}

  <h1>Édition de la page d'accueil</h1>
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fa fa-dashboard" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-item active">Accueil</li>
  </ol>
  
  <hr>

  {{ include("PlateformeCoreBundle:PageAccueil:form.html.twig") }}
  

{% endblock %}