{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block body %}

  <h2>Édition de la page d'accueil</h2>
  
  <hr>

  {{ include("PlateformeCoreBundle:PageAccueil:form.html.twig") }}
  

{% endblock %}