{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}
  Bienvenue - {{ parent() }}
{% endblock %}

{% block body %}
  
  <div class="container">
    <h1>{{ page_accueil.titre }}</h1>
    <div>{{ page_accueil.contenu|raw }}</div>
  </div>
  
{% endblock %}