{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block body %}

  <h2>Édition d'un produit</h2>
  
  <hr>

  {{ include("PlateformeCatalogueBundle:Produit:form.html.twig") }}
  

{% endblock %}