{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block title %}
  Édition de "{{ produit.titre }}" - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>Édition d'un produit</h1>
  
  <hr>

  {{ include("PlateformeCatalogueBundle:Produit:form.html.twig") }}
  

{% endblock %}