{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block title %}
  Gestion des utilisateurs - {{ parent() }}
{% endblock %}
{% block body %}

  <h1>Gestion des utilisateurs</h1>
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fa fa-dashboard" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-item active">Utilisateurs</li>
  </ol>

  <ul>
    <li><a href="{{ path('plateforme_user_clients_crud') }}">Clients</a></li>
    <li><a href="{{ path('plateforme_user_employes_crud') }}">Employés</a></li>
  </ul>
  
{% endblock %}