{# src/Plateforme/UserBundle/Resources/views/User/index.html.twig #}

{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}
  S'authentifier - {{ parent() }}
{% endblock %}

{% block body %}

  <div class="container">
    <h1>S'authentifier</h1>

    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h2>Client enregistré</h2>
        <p>J'ai déjà commandé.</p>
        {{ render(controller('FOSUserBundle:Security:login')) }}
      </div>
      <div class="col-xs-12 col-lg-6">
        <h2>Nouveau client</h2>
        <p>Je suis un nouveau client.</p>
        <a href="{{ path('plateforme_user_inscription_client') }}" class="btn btn-success">
          S'inscrire
        </a>
      </div>
    </div>
      
  </div>

{% endblock %}