{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block body %}

  <h2>Édition d'une actualité</h2>
  
  <hr>

  {{ include("PlateformeCoreBundle:PageActualite:form.html.twig") }}
  

{% endblock %}