{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block body %}

  <h1>Édition d'une actualité</h1>
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fa fa-dashboard" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_page_actualites_crud') }}">Actualités</a></li>
    <li class="breadcrumb-item active">Édition</li>
  </ol>

  <hr>

  {{ include("PlateformeCoreBundle:PageActualite:form.html.twig") }}
  

{% endblock %}