{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}

  <div class="container">
    <h1>{{ actualite.titre }}</h1>
    <div>
      {{ actualite.contenu|raw }}
    </div>
  </div>

{% endblock %}