/*
 * Feuille de styles
 * @author Adrien Durmier
 */

/* Palette de couleurs */
.blanc, .blanc:hover{color:#fff;}
.fond_blanc{background-color:#fff;}
.noir, .noir:hover{color:#000;}
.fond_noir{background-color:#000;}

/* *****************************************************************************
  GENERAL
***************************************************************************** */
body{font-size:14px;color:#333;}
@media(max-width:1200px){
  body{font-size:13px;}
}
@media(max-width:768px){
  body{font-size:12px;}
}
*::-moz-selection {background-color:#465c74;color:#fff;}
a{color:#50575c;}
a:hover, a:focus{text-decoration:none;color:#333;}
.inline{display:inline-block;}
.uppercase{text-transform:uppercase;}
.relative{position:relative;}

/* Général - padding */
.no-padding {padding:0 !important; margin:0 !important;}
.padding-03{padding:3px;}
.padding-05{padding:5px;}
.padding-10{padding:10px;}
.padding-15{padding:15px;}
.padding-20{padding:20px;}
.padding-25{padding:25px;}
.padding-30{padding:30px;}
.padding-40{padding:40px;}
.padding-50{padding:50px;}
.padding-03v{padding:3px 0;}
.padding-05v{padding:5px 0;}
.padding-10v{padding:10px 0;}
.padding-15v{padding:15px 0;}
.padding-20v{padding:20px 0;}
.padding-25v{padding:25px 0;}
.padding-30v{padding:30px 0;}
.padding-40v{padding:40px 0;}
.padding-50v{padding:50px 0;}
.padding-03h{padding:0 3px;}
.padding-05h{padding:0 5px;}
.padding-10h{padding:0 10px;}
.padding-15h{padding:0 15px;}
.padding-20h{padding:0 20px;}
.padding-25h{padding:0 25px;}
.padding-30h{padding:0 30px;}
.padding-40h{padding:0 40px;}
.padding-50h{padding:0 50px;}
.margin-03{margin:3px;}
.margin-05{margin:5px;}
.margin-10{margin:10px;}
.margin-15{margin:15px;}
.margin-20{margin:20px;}
.margin-25{margin:25px;}
.margin-30{margin:30px;}
.margin-40{margin:40px;}
.margin-50{margin:50px;}
.margin-03v{margin:3px 0;}
.margin-05v{margin:5px 0;}
.margin-10v{margin:10px 0;}
.margin-15v{margin:15px 0;}
.margin-20v{margin:20px 0;}
.margin-25v{margin:25px 0;}
.margin-30v{margin:30px 0;}
.margin-40v{margin:40px 0;}
.margin-50v{margin:50px 0;}
.margin-03h{margin:0 3px;}
.margin-05h{margin:0 5px;}
.margin-10h{margin:0 10px;}
.margin-15h{margin:0 15px;}
.margin-20h{margin:0 20px;}
.margin-25h{margin:0 25px;}
.margin-30h{margin:0 30px;}
.margin-40h{margin:0 40px;}
.margin-50h{margin:0 50px;}