{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}
  Paiement accepté - {{ parent() }}
{% endblock %}

{% block body %}
  <h1>Votre commande vient d'être prise en compte</h1>
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3>Paiement par chèque</h3>
        <p>
          Si vous réglez par chèque, l'établir à l'ordre de APRIMEDIA SARL, en euro sur une banque française uniquement.
          <br>
          L'envoyer à :
          <br>
          <br>
          Micropuces
          <br>
          13 avenue Thiers
          <br>
          19100 Brive La Gaillarde
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Paiement par virement bancaire</h3>
        <p>
          Si vous réglez par virement, voici nos références bancaires:
          <br>
          IBAN: FR76 1027 8365 7100 0113 8210 160
          <br>
          BIC: CMCIFR2A
        </p>
      </div>
    </div>
    
    <hr>
    
    <p class="text-center">
      <strong>La validation de la commande et le délai d'approvisionnement ne seront effectifs qu'à réception et encaissement de votre paiement.</strong>
    </p>
    <p class="text-center">
      <big><strong>Merci d'avoir fait vos achats en ligne avec nous !</strong></big>
    </p>
  </div>
  
{% endblock %}
