{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block title %}
  Édition d'une variable - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>Édition d'une variable</h1>
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fa fa-dashboard" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_variables_crud') }}">Variables</a></li>
    <li class="breadcrumb-item active">Édition</li>
  </ol>

  {{ include("PlateformeCoreBundle:Variable:form.html.twig") }}
  
{% endblock %}