{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block title %}
  Espace pro - {{ parent() }}
{% endblock %}

{% block body %}
  
  <h1>Catalogue</h1>
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fa fa-dashboard" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-item active">Catalogue</li>
  </ol>
    
  <hr>
  
  <ul>
    <li>
      <a href="{{ path('plateforme_catalogue_produits_crud') }}">Produits</a>
    </li>
  </ul>
  
{% endblock %}