{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block title %}
  Tableau de bord - {{ parent() }}
{% endblock %}

{% block body %}
  
  <h1>Tableau de bord</h1>
  
  Todo: Vitrine
  <br>
  Todo: Catalogue
  <br>
  Nombre de produit
  <br>
  Todo: Ecommerce
  <br>
  Todo: Total de ventes
  <br>
  Todo: taux de conversion
  
{% endblock %}