{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block body %}

  <h2>Création d'une catégorie pour la FAQ</h2>

  {{ include("PlateformeCoreBundle:FAQCategorie:form.html.twig") }}

{% endblock %}