{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block body %}

  <h2>Suppression d'une catégorie</h2>

  <p>
    Etes-vous certain de vouloir supprimer la catégorie "<i>{{ categorie.label }}</i>" ?
  </p>

  <form action="{{ path('plateforme_core_page_faq_categorie_delete', {'id': categorie.id}) }}" method="post">
    <a href="{{ path('plateforme_core_page_faq_categorie_edit', {'id': categorie.id}) }}" class="btn btn-default">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      Retour à l'édition
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}