{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}
  Paiement accepté - {{ parent() }}
{% endblock %}

{% block body %}
  <h1>Votre commande vient d'être prise en compte</h1>
  
  <div class="container">
    <p>
      Vos produits en stock arriveront à destination dans 1-5 jours ouvrés, suivant le mode de transport choisi. 
    </p>
    <p>
      Les produits en stock chez le fabricant vous seront livrés dès réception, selon le délai qui reste indicatif.
    </p>

    <p><strong>Merci d'avoir fait vos achats en ligne avec nous !</strong></p>
  </div>
  
{% endblock %}
