{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}
  Paiement annulé - {{ parent() }}
{% endblock %}

{% block body %}
  
  <div class="container">
    
    <h1>Votre commande n'a pas était prise en compte</h1>
    
    <p>Il y a eu une erreur lors de votre paiement sur le site de Paypal.</p>

  </div>
  
{% endblock %}
