{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}
  Paiement accepté - {{ parent() }}
{% endblock %}

{% block body %}
  
  <div class="container">
    
    <h1>Votre commande vient d'être prise en compte</h1>
    
    <p><strong>Merci d'avoir fait vos achats en ligne avec nous !</strong></p>
    
  </div>
  
{% endblock %}
