{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block title %}
  Création d'une commande - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>Création d'une commande</h1>
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fas fa-tachometer-alt"></i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('plateforme_ecommerce_commandes_crud') }}">Commandes</a></li>
    <li class="breadcrumb-item active">Création</li>
  </ol>

  {{ include("PlateformeEcommerceBundle:Commande:form.html.twig") }}

{% endblock %}